<!--
          _____                    _____                    _____                    _____          
         /\    \                  /\    \                  /\    \                  /\    \         
        /::\    \                /::\    \                /::\    \                /::\    \        
       /::::\    \               \:::\    \              /::::\    \              /::::\    \       
      /::::::\    \               \:::\    \            /::::::\    \            /::::::\    \      
     /:::/\:::\    \               \:::\    \          /:::/\:::\    \          /:::/\:::\    \     
    /:::/__\:::\    \               \:::\    \        /:::/__\:::\    \        /:::/__\:::\    \    
   /::::\   \:::\    \              /::::\    \       \:::\   \:::\    \      /::::\   \:::\    \   
  /::::::\   \:::\    \    ____    /::::::\    \    ___\:::\   \:::\    \    /::::::\   \:::\    \  
 /:::/\:::\   \:::\____\  /\   \  /:::/\:::\    \  /\   \:::\   \:::\    \  /:::/\:::\   \:::\    \ 
/:::/  \:::\   \:::|    |/::\   \/:::/  \:::\____\/::\   \:::\   \:::\____\/:::/__\:::\   \:::\____\
\::/   |::::\  /:::|____|\:::\  /:::/    \::/    /\:::\   \:::\   \::/    /\:::\   \:::\   \::/    /
 \/____|:::::\/:::/    /  \:::\/:::/    / \/____/  \:::\   \:::\   \/____/  \:::\   \:::\   \/____/ 
       |:::::::::/    /    \::::::/    /            \:::\   \:::\    \       \:::\   \:::\    \     
       |::|\::::/    /      \::::/____/              \:::\   \:::\____\       \:::\   \:::\____\    
       |::| \::/____/        \:::\    \               \:::\  /:::/    /        \:::\   \::/    /    
       |::|  ~|               \:::\    \               \:::\/:::/    /          \:::\   \/____/     
       |::|   |                \:::\    \               \::::::/    /            \:::\    \         
       \::|   |                 \:::\____\               \::::/    /              \:::\____\        
        \:|   |                  \::/    /                \::/    /                \::/    /        
         \|___|                   \/____/                  \/____/                  \/____/         
                                                                                                    
-->
<!--
Version    1.012
Author     github.com/ittekimasu
Date       March 17, 2017
URL        https://habitual-rise.glitch.me
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Keep on playing those Mind Games forever -Vladimir Ilyich Lenin</title>
    <meta name="description" content="Meme Gallery">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6d93d0da-a577-4dd4-860c-3fc86e41c223%2Ffavicon(1).ico?1489702016641" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/love.css">
  </head>
  <body>
    <main>
      <div id="card">
        <div id="artist">ittekimasu</div>
        <div id="object">Noise, 2017.</div>
        <div id="medium">html5 on web</div>
        <div id="desc">Programmatic App Captions</div>
      </div>
      <img id="noise" src="https://cdn.glitch.com/6d93d0da-a577-4dd4-860c-3fc86e41c223%2Fnoise-4.png?1489934555480" alt="ios" />
      <!--
      <div id="fund">
        <a href="https://www.gofundme.com/LOVEARMYFORSOMALIA" target="_blank">
        <img id="moga" src="https://cdn.glitch.com/6d93d0da-a577-4dd4-860c-3fc86e41c223%2FLAfS.gif?1489873995159" alt="relief" />
        </a>
        <!--
          <a href="https://www.gofundme.com/LOVEARMYFORSOMALIA">https://www.gofundme.com/LOVEARMYFORSOMALIA</a>
        --
      </div>
      <div id="icing">
        <img id="bagel" src="https://cdn.glitch.com/6d93d0da-a577-4dd4-860c-3fc86e41c223%2Fpancake-purses-bread-bags-chloe-wise.jpg?1489869882152" alt="bagel_bag" />
        <img id="logo" src="https://cdn.glitch.com/6d93d0da-a577-4dd4-860c-3fc86e41c223%2Fmeme_imperium_logo_3.png?1489872572583" alt="it begins!" />
      </div>
    -->
    </main>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <script src="/joy.js"></script>
  </body>
</html>
