/* styles*/
/* don't bite */
/* jk steal what you can ;) */

body {
  font-family: monospace;
  margin: 16px;
}

h1 {
  font-size: 64px;
  margin: 0px 0px 16px 8px;
  color: rgba(128,128,32,1.0);
}

p {
  max-width: 600px;
}